name: Test Server

on:
  pull_request:
    branches:
      - master
    paths:
      - server/**
      - .github/workflows/server_test.yml

jobs:
  build-amd64:
    name: Build amd64
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      CACHE_SCOPE: server-test

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./server
          platforms: linux/amd64
          cache-from: type=gha,scope=${{ env.CACHE_SCOPE }}
          cache-to: type=gha,scope=${{ env.CACHE_SCOPE }},mode=max
